@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    font-family: "Cairo", sans-serif;
    /* background-color: #1f1f1f; */
}

body::-webkit-scrollbar {
    display: none;
}
::-webkit-scrollbar {
    background-color: transparent;
    border-radius: 10px;
    width: 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: #f6b00050;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #f6b100;
}

.max-text{
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
@media(min-width:1200px){
    .max-text{
        max-width: 250px;
    }
}
.table-grid{
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.responsive{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media(min-width:1200px){
    .responsive{
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    }
}
.ball{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-color: rgba(246, 176, 0, 0.737);
    backdrop-filter: blur(6px);
}
.ball:hover{
    animation: ball-layer 700ms ease-in-out forwards alternate 1;
    -webkit-animation: ball-layer 700ms ease-in-out forwards alternate 1;
}
@keyframes ball-layer {
    0% {
        box-shadow: rgba(246, 176, 0, 0.2) 0px 8px;
    }
    50% {
        box-shadow: rgba(246, 176, 0, 0.6) 0px 8px;
    }
    100% {
        box-shadow: rgba(246, 176, 0, 0.2) 0px 5px;
    }
}

.color1{
    background-color: #b73e3e;
}
.color2{
    background-color: #5b45b0;
}
.color3{
    background-color: #7f167f;
}
.color4{
    background-color: #735f32;
}
.color5{
    background-color: #1d2569;
}
.color6{
    background-color: #285430;
}
.color7{
    background-color: #f6b100;
}
.color8{
    background-color: #025cca;
}
.color9{
    background-color: #be3e3f;
}
.color10{
    background-color: #02ca3a;
}

.fullscreen-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1f1f1f; /* White background with some transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it's on top of other content */
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #f6b100; /* Blue color for spinner */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}